<div class="row">
  <div class="col-sm-11 col-md-7">
    <div class="card card-default">
      <div class="card-header">Item(s) in cart</div>
      <div class="card-body">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr *ngFor="let item of cart">
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>qty</td>
              <td>price</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>