<div class="container">

    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="#">online-shopping</a>
    </nav>

    <hr />
    <i class="fa fa-shopping-cart"></i> &nbsp;
    <span class="badge badge-dark">{{cart.length}}</span> item(s) in cart
    <hr />

    <hr />
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a (click)="toggleCart()" class="nav-link" href="#">{{isCartOpen?'View products':'View cart'}}</a>
        </li>
    </ul>
    <hr />
    <app-view-cart *ngIf="isCartOpen" [cart]="cart"></app-view-cart>
    <div *ngIf="!isCartOpen">
        <div *ngFor="let product of products;let idx=index" class="list-group-item">
            <app-product [value]="product" (buy)="addToCart($event)"></app-product>
        </div>
    </div>
</div>